// Add any custom Sass & CSS here
.user-list{
    list-style: none;
}
.required{
    color: #FF0000;
}
.task-list{
    list-style: none;
}
.user-tasks{
    list-style: none;
}

.completed-tasks{
    list-style: none;
}
#add-user{
    background-color:#52db52;
}
.header{
    background-color: #D3D3D3;
    margin: 0 auto;
}
.add{
    color: #FF0000;
}
#edit-button{
    background-color: #52db52;
}
.header{
    margin-bottom: 100px;
}
.title{
    font-size: 3em;
}
.description{
    font-size: 1.5em;
}
