// Add any custom Sass & CSS here
.user-list{
    list-style: none;
}
.required{
    color: #FF0000;
}
.task-list{
    list-style: none;
}
.user-tasks{
    list-style: none;
}

.completed-tasks{
    list-style: none;
}
