<span class="title">Edit Task </span><span class="description">staying occupied</span>
<form name="taskForm" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

       <!-- NAME -->
        <div class="form-group">
          <label>Name <span class="required"> *</span></label>
          <input type="text" name="name" class="form-control" ng-model="task.name" required>
          <p ng-show="userForm.name.$invalid" class="help-block">You name is required.</p>
        </div>
        <!-- Description -->
        <div class="form-group">
          <label>Description</label>
          <input type="text" name="description" class="form-control" ng-model="task.description">
        </div>
        <!-- Date -->
        <div class="form-group">
         <label>Deadline <span class="required"> *</span></label>
         <datepicker><input ng-model="task.deadline" type="text"/></datepicker>
        </div>

        <div class="form-group">
            <label>Assigned User</label>
            <select ng-model="task.assignedUser">
                <option ng-repeat="user in users" value="{{user._id}}">{{user.name}}</option>
            </select>
        </div>
        Completed:
        <input type="radio" ng-model="task.completed" value="true" ng-checked="task.completed === true"> Yes
        <input type="radio" ng-model="task.completed" value="false" ng-checked="task.completed === false"> No
       <!-- SUBMIT BUTTON -->
       <button type="submit" ng-click="updateTask(task)" class="button info">Submit</button>

 </form>
