<div class="small-8 small-centered columns">
    <span><h1>Tasks</h1><h3>really important stuff</h3></span>
    <a class="button" ng-href="#/addtask">Add Task</a>
    <br>
    <input type="radio"> Pending
    <input type="radio"> Completed
    <input type="radio"> All
    <br>
    <span>Sort By:</span>
    <select ng-model="sort">
        <option selected>dateCreated</option>
        <option ng-value="deadline">deadline</option>
        <option ng-value="name">name</option>
        <option ng-value="assignedUsername">assignedUserName</option>
      </select>

    <input type="radio" ng-model="order" ng-value="true" checked> Ascending
    <input type="radio" ng-model="order" ng-value="false"> Descending
    <button type="button" class="disabled button" id="prev"name="previous" ng-click="previous()">Previous</button>
    <button type="button" class="button" id="next" name="button" ng-click="next()">Next</button>
    <ul>
        <li class="task-list" ng-repeat="task in tasks">
            <div class="row">
                <div class="small-3 columns"><a ng-href="#/taskdetails/{{task._id}}">{{task.name}}</a></div>
                <div class="small-3 columns">{{task.deadline}}</div>
                <div class="small-3 columns">{{task.assignedUserName}}</div>
                <div class="small-3 columns text-right"><button class="alert button" ng-click="remove(task._id)">Delete</button></div>
            </div>
        </li>
    </ul>

</div>
