<span class="title">Task </span><span class="description">gotta get this done</span>
<div class="row">
    <div class="small-12 columns text-right">
        <a id="edit-button"class="alert button" ng-href="#/edit/{{task._id}}">Edit Task</a>
    </div>
</div>

<hr>
<div class="row">
    <div class="small-6 columns">
        <h2>{{task.name}}</h2>
    </div>
    <div class="small-6 columns">
        <h4>Deadline: {{task.deadline}}</h4>
    </div>
</div>
<div class="row">
    <div class="small-6 columns">
    </div>
    <div class="small-6 columns">
        <h5>Completed: {{task.completed}}</h5>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <h5>Assigned To: {{task.assignedUserName}}</h5>
    </div>

</div>
