<div class="small-8 small-centered columns">
    <span><h1>Tasks</h1><h3>really important stuff</h3></span>
    <a class="button" ng-href="#/addtask">Add Task</a>
    <br>
    <input type="radio" name="sorter" ng-click="sortBy = false"> Pending
    <input type="radio" name="sorter" ng-click="sortBy = true"> Completed
    <input type="radio" name="sorter" ng-click="sortBy = all"> All
    <br>
    <span>Sort By:</span>
    <select ng-model="sortWith">
        <option selected ng-value="dateCreated">dateCreated</option>
        <option ng-value="deadline">deadline</option>
        <option ng-value="name">name</option>
        <option ng-value="assignedUsername">assignedUserName</option>
    </select>

    <input type="radio" name="order" ng-click="order = 1" checked> Ascending
    <input type="radio" name="order" ng-click="order = -1"> Descending
    <button type="button" class="disabled button" id="prev"name="previous" ng-click="previous()">Previous</button>
    <button type="button" class="button" id="next" name="button" ng-click="next()">Next</button>
    <ul>
        <li class="task-list" ng-repeat="task in tasks">
            <div class="row">
                <div class="small-3 columns"><a ng-href="#/taskdetails/{{task._id}}">{{task.name}}</a></div>
                <div class="small-3 columns">{{task.deadline}}</div>
                <div class="small-3 columns">{{task.assignedUserName}}</div>
                <div class="small-3 columns text-right"><button class="alert button" ng-click="remove(task._id)">Delete</button></div>
            </div>
        </li>
    </ul>

</div>
